:80 {
	basic_auth {
		gemini $2a$14$KDGw4jgqBrvubieapxBtyOUU1bI/rvBzlbpehuXuk89F1EsK2tAoK
	}
	respond "Caddy is running!"
}

pranavghate.me {
	basic_auth {
		gemini $2a$14$KDGw4jgqBrvubieapxBtyOUU1bI/rvBzlbpehuXuk89F1EsK2tAoK
	}
	respond "Welcome to GEMINI!"
}