# Caddyfile for Gemini services

{
	# Global options block (optional)
	# Enable debug logging if needed
	# debug
}


storage.geminiproject.systems {
	reverse_proxy storage:{$GEMINI_STORAGE_PORT}
}

# REST API
rest.geminiproject.systems {
	reverse_proxy rest-api:{$GEMINI_REST_API_PORT}
}

# Scheduler Server (Prefect UI/API)
scheduler.geminiproject.systems {
	reverse_proxy scheduler-server:{$GEMINI_SCHEDULER_SERVER_PORT}
}

