.main {
    background: white;
}

.link {
    display: block;
    padding: 10px;
    text-align: center;
    color: inherit;
    text-decoration: none;
}

.link:hover {
    color: white;
    background: black;
    border-radius: 10px;
}
